/* Round Corners*/
.r0, .r1, .r2, .r3, .r4 { overflow: hidden; font-size:1px; display: block; height: 1px;}
.r4 { margin: 0 4px; }
.r3 { margin: 0 3px; }
.r2 { margin: 0 2px; }
.r1 { margin: 0 1px; }

/* Tags cloud */
div.search-cloud { text-align:center; } 
div.search-cloud a { line-height:1.4em; text-decoration:none; }
div.search-cloud a:hover { text-decoration:underline; }

/* Search results*/
div.search-item { margin: 0 0 1.5em; padding: 0 0 1.5em; border-bottom: 1px solid;}
div.search-result { margin: 1em 0;}
div.search-preview {margin: 0.5em 0;}
div.search-page input.search-query {width: 99%; border: 1px solid; font-size:1.3em;}
div.search-page input.search-button { font-size: 1.2em; }

/* Content Forms: commons styles */
div.content-form
{
	position:relative; 
	zoom:1;
	padding-bottom: 2.5em;
	padding-left:2.5em;
}

div.content-form div.form-input span {font-size: 1.5em;}
div.content-form div.form-input input, div.content-form div.form-input textarea, div.content-form div.form-input select
{	
	margin: 0;
	border:1px solid;
	font-size:1.117em; 
	font-family:Verdana, Tahoma, Sans-Serif;
	margin-bottom: 8px;
	
}

div.content-form div.form-input input, div.content-form div.form-input textarea { padding: 0.3em; }

div.content-form div.legend
{
	left: -1em; 
	top:-0.7em; 
	float:left; 
	padding: 0 3px; 
	background:white; 
	position:relative; 
	z-index:10; 
	font-size: 1.8em; 
	font-family:Arial, Verdana, Tahoma, Sans-Serif;
}

div.content-form div.form-input input, div.content-form div.form-input textarea {width:75%;}
div.content-form div.fields { clear: both; }
div.content-form input.input-submit { overflow:visible; padding:0 0.5em;}
div.content-form div.field { padding:0; margin: 0 0 0.8em 0; display: block; }
div.content-form div.field label.field-title
{
	display: block;
	font-size: 1.4em;
	margin-bottom: 3px;
	font-family:Arial, Verdana, Tahoma, Sans-Serif; 
	white-space: nowrap;
}

div.content-form div.description {font-size: 0.9em; }
div.content-form div.field-checkbox { margin: 0.3em 0; font-size: 1.4em;}

/*Error & OK messages*/
.errortext, .notetext
{
	display: block;
	margin:0 0 1.5em 0;
	padding:0.4em 1.117em;
	border: 1px solid;
}

.errortext ul, .notetext ul {padding:0.3em 0 0.3em 2em; margin:0;}
.errortext ul li, .notetext ul li {margin:0; padding:0;}
